/*
@tailwind base;
*/
@tailwind components;
@tailwind utilities;

:root {
    /*
    --fg0: #334455;
    --fg1: #708191;
    --bg0: #ffffff;
    --bg1: #efefef;
    --bg2: #bbbab9;
*/
    --bg0: #1e2030;
    --bg1: #24273a;
    --bg2: #363a4f;
    --fg0: #cad3f5;
    --fg1: #a5adcb;
    --red: #ed8796;
    --green: #a6da95;
    --magenta: #c6a0f6;
    --accent: var(--green);

    --sans-serif: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-family: var(--sans-serif);

    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--fg0);
    background-color: var(--bg0);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    font-weight: 500;
    color: var(--accent);
    text-decoration: inherit;
}

a:hover {
    color: var(--accent);
}

a.color-inherit {
    color: inherit;
}

a.color-inherit:hover {
    color: inherit;
}

html,
body,
#app {
    height: 100%;
}

body {
    top: 0;
    margin: 0;
    padding: 0;
    min-width: 320px;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid var(--bg1);
    padding: 0.8em 2.4em;
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    background-color: var(--bg2);
    cursor: pointer;
    transition: border-color 0.25s;
    text-transform: uppercase;
    color: var(--fg0);
}

button:hover {
    border-color: var(--accent);
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button.accent {
    background-color: var(--accent);
    transition: background-color 0.25s;
    color: var(--bg0);
}

button.accent:hover {
    border-color: unset;
    background-color: var(--fg0);
}

button.accent.danger {
    background-color: var(--red);
}

input,
textarea {
    border-radius: 8px;
    border: 1px solid var(--bg1);
    padding: 0.6em 1.2em;
    font-size: 1em;
    box-sizing: border-box;
    font-family: var(--sans-serif);
    background-color: var(--bg2);
    color: var(--fg0);
}

input:hover,
input:focus {
    border-color: var(--accent);
    outline: none;
}

textarea {
    width: 100%;
    height: 256px;
}

.card {
    padding: 2em;
}

#content-column {
    /*max-width: 720px;*/
    width: 100%;
    padding: 2rem 0;
    justify-content: center;
    gap: 1rem;
}

#content-column > main {
    flex-basis: 720px;
    flex-shrink: 1;
}

header#top-header {
    display: flex;
    gap: 1rem;
    padding: 16px;
    /*background-color: var(--bg0);*/
}

header#top-header h2 {
    display: inline;
    margin: 0;
}

label {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
}

form > div.spaced {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
